* {
  text-align: center;
}

#content {
  margin-top: 20%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
}

#lyricBody {
  width: 70%;
  margin: 0 auto 40px auto;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-bottom: 40px;
}

footer {
  font-family: 'Lato', sans-serif;
}

a:link {
  color: gray;
  text-decoration: none;
}

@media (max-width:480px) {
  #content {
    margin-top: 0;
  }

  #lyricBody {
    width:100%;
  }
}
