html {
  font-size: 28px;
}

#font1 {
  font-family: 'IM Fell DW Pica', serif;
}

#font2 {
  font-family: 'Codystar', cursive;
}

#font3 {
  font-family: 'IM Fell French Canon', serif;
}

#font4 {
  font-family: 'Playball', cursive;
}

#font5 {
  font-family: 'Cedarville Cursive', cursive;
}

td {
  padding: 50px;
  text-align: center;
  border-top: 2px dotted black;
}