/** {
  outline: 1px solid black;
}*/

.before {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 31%;
}

.image_container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.process {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.text {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}