html {
	background-color: #A9F0EA;
	color: #4E4E4E;
	font-size: 1.5em;
	margin-bottom: 50px;
}

a:link {
	color: #4E4E4E;
	text-decoration: none;
}

a:hover {
	color: #838383;
}

a:visited {
	color: #4E4E4E;
}

.content {
	background-color: white;
	border: 3px dashed ;
	border-radius: 10px;
	color: #4E4E4E;
	float: left;
	font-family: 'Lato' sans-serif;
	font-size: 16px;
	height: auto;
	margin-left: 20%;
	margin-top: 1%;
	padding: 1%;
	position: relative;
	width: 60%;
}

.title {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

#menu {
	width: 60%;
	margin-left: 20%;
	text-align: center;
	margin-top: 1%;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

td {
	width: 20%;
}

#css-box-model {
	margin-left: 22%;
}

#social-media {
	width: 50%;
	margin-left: 25%;
	font-family: Cambria;
}

blockquote {
	width: 50%;
	font-style: italic;
	text-align: center;
	margin-left: 25%;
	font-size: 20px;
}