p {
	font-size: 2em;
}

.lobster {
	font-family: 'Lobster', cursive;
}

.code {
	font-family: 'Source Code Pro';
}

.first {
	font-family: 'Bree Serif', serif;
}

.second {
	font-family: 'Montserrat', sans-serif;
}