p {
	/*font-family: 'Lato', sans-serif;*/
	font-size: 2em;
}

.lobster {
	font-family: 'Lobster', cursive;
}

.code {
	font-family: 'Source Code Pro';
}

.first {
	font-family: 'Cabin', sans-serif;
}

.second {
	font-family: 'Montserrat', sans-serif;
}