.activerecord {
	font-family: 'Lobster', cursive;
	font-size: 2em;
}

.train_ride {
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	line-height: 90%;
}

.cache {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
}

.notoprah {
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
}